{

  "log": {
      "loglevel": "warning",
      "access": "/var/log/xray/access.log",
      "error": "/var/log/xray/error.log"
  },

  "dns": {
    "servers": [
      "1.1.1.1",
      "8.8.8.8"
    ]
  },

  "inbounds": [
    {
      "tag": "socks-in",
      "listen": "127.0.0.1",
      "port": 1080,
      "protocol": "socks",
      "settings": {
        "auth": "noauth",
        "udp": true
      }
    },
    {
      "tag": "tproxy-in",
      "listen": "0.0.0.0",
      "port": 12345,
      "protocol": "dokodemo-door",
      "settings": {
        "network": "tcp,udp",
        "followRedirect": true
      },	
      "streamSettings": {
        "sockopt": {
          "tproxy": "tproxy"
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls",
          "quic"
        ]
      }
    },

    {
      "tag": "dns-in",
      "listen": "127.0.0.1",
      "port": 5353,
      "protocol": "dokodemo-door",
      "settings": {
	  "address": "1.1.1.1",
	  "port": 53,
	  "network": "tcp,udp"
       }
     }
  ],
  "outbounds": [

    {
      "tag": "dns-out",
      "protocol": "dns",
      "settings": {
	    "rewriteAddress": "1.1.1.1",
	    "rewritePort": 53,
	    "nonIPQuery": "skip"
      },

      "proxySettings": {
	    "tag": "proxy"
      }
    },


    {
      "tag": "proxy",
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "",    //enter vps ip
            "port": 443,
            "users": [
              {
                "id": "",   //enter uuid
                "flow": "xtls-rprx-vision",
                "encryption": "none"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "fingerprint": "chrome",
          "serverName": "speed.cloudflare.com",
          "publicKey": "",    //enter pub key
          "shortId": "0123456789abcdef"
        },
        "sockopt": {
          "mark": 255
        }
      }
    }
  ],

  "routing": {
    "rules": [
      {
	    "type": "field",
	    "inboundTag": ["dns-in"],
	    "outboundTag": "dns-out"
      },
      {
	    "type": "field",
  	    "inboundTag": ["tproxy-in", "socks-in"],
	    "outboundTag": "proxy"
      },
      {
        "type": "field",
        "outboundTag": "proxy",
        "network": "udp",
	    "port": 53
      }
    ]
  }
}
